# Tuples :- semi-flexible:- Immutable, ordered, Hetrogenous, Allow Duplicates,
# use case : where we canno't change the data;
# denoation :- ();

In [35]:
import sys

In [36]:
tl = (1,2,3,4,5,6,7,8,9)

In [37]:
print(sys.getsizeof(tl))
print(type(tl))

112
<class 'tuple'>

In [38]:
type(tl)

tuple

In [39]:
lt = {1,2,3,4,5,6,7,8,9}

In [40]:
print(sys.getsizeof(lt))
print(type(lt))

728
<class 'set'>

In [41]:
p = 4,5,4,6,7,8,9,7

In [42]:
p
type(p)

tuple

In [43]:
tl = (1,2,5,4,6,7,8,9,7,4,4)

In [44]:
# tl.sort()
# tl.append(66)

In [45]:
k={}
for i in tl:
    if i not in k:
        k[i] = 1
    else:
        k[i] += 1

In [46]:
print(k)
print(type(k))

{1: 1, 2: 1, 5: 1, 4: 3, 6: 1, 7: 2, 8: 1, 9: 1}
<class 'dict'>

In [47]:
print(tl.count(4))
print(id(tl))

3
1340495186880

In [48]:
# sys.getsizeof(pi)

In [49]:
len(tl)

11

In [69]:
j= ["mam","dad","lion","rrr","ooo"]

In [72]:
op = []
for i in j:
    if i == i[::-1]:
        op.append(i)

In [73]:
print(op)

['ooo', 'rrr', 'dad', 'mam']

In [53]:
ti = (0,1,2,5,4,6,7,8,9,4,5,6,4,5,25)

# len function in tuple:

In [54]:
len(ti)

15

# max funiction in tuple;

In [55]:
y=max(ti)
y

25

# min function in tuple;

In [56]:
y1= min(ti)
y1

0

# index function in tuple;

In [57]:
y2 = ti.index(5)
print(y2)
print(type(y2))

3
<class 'int'>

# count function in tuple:

In [58]:
y3 = ti.count(2)
print(y3)
print(type(y3))

1
<class 'int'>

# tuple:- its is used to create different types of values into tuple:
# convert list into tuple;

In [59]:
o = [1,2,6,7,8,9,4,5,6,4,5,1,2,3,6,4,5,7]
y4 = tuple(o)
print(y4)

(1, 2, 6, 7, 8, 9, 4, 5, 6, 4, 5, 1, 2, 3, 6, 4, 5, 7)

# convert into tuple in list:

In [60]:
y5 = list(y4)
print(y5)

[1, 2, 6, 7, 8, 9, 4, 5, 6, 4, 5, 1, 2, 3, 6, 4, 5, 7]

# add two tuple in one another tuple;

In [61]:
h1=(1,2,5,4,5,6,4,5,6,7)
h2=(5,6,4,6,4,4,5,4)

In [62]:
i4 = h1 + h2

In [63]:
i4 =(1, 2, 5, 4, 5, 6, 4, 5, 6, 7, 5, 6, 4, 6, 4, 4, 5, 4)

In [64]:
i5 = list(i4)
print(i5)

[1, 2, 5, 4, 5, 6, 4, 5, 6, 7, 5, 6, 4, 6, 4, 4, 5, 4]

In [65]:
print(sys.getsizeof(i5))

200

In [66]:
print(sys.getsizeof(i4))

184

In [67]:
i1= {}
for i in i4:
    if i not in i1:
        i1[i] = 1
    else:
        i1[i] += 1
i1

{1: 1, 2: 1, 5: 5, 4: 6, 6: 4, 7: 1}

In [68]:
print(len(i4))
print(type(i4))

18
<class 'tuple'>