# Tuples :- semi-flexible:- Immutable, ordered, Hetrogenous, Allow Duplicates,
# use case : where we canno't change the data;
# denoation :- ();

In [6]:
import sys

In [3]:
tl = (1,2,3,4,5,6,7,8,9)

In [10]:
print(sys.getsizeof(tl))
print(type(tl))

112
<class 'tuple'>

In [4]:
type(tl)

tuple

In [17]:
lt = {1,2,3,4,5,6,7,8,9}

In [19]:
print(sys.getsizeof(lt))
print(type(lt))

728
<class 'set'>

In [12]:
p = 4,5,4,6,7,8,9,7

In [18]:
p
type(p)

tuple

In [24]:
tl=(1,2,5,4,6,7,8,9,7,4,4)

In [57]:
tl.sort()
tl.append(66)

In [39]:
k={}
for i in tl:
    if i not in k:
        k[i] = 1
    else:
        k[i] += 1

In [56]:
print(k)
print(type(k))

{1: 1, 2: 1, 4: 3, 5: 1, 6: 1, 7: 2, 8: 1, 9: 1, 66: 1}
<class 'dict'>

In [27]:
print(tl.count(4))
print(id(tl))

3
1869356814912

In [17]:
sys.getsizeof(pi)

152

In [25]:
len(tl)

11

In [46]:
j= ["mam","dad","lion","rrr","ooo"]

In [54]:
op=[]
for i in j:
    if j.reverse():
        op.append(i)

In [55]:
print(op)

[]

In [84]:
ti = (0,1,2,5,4,6,7,8,9,4,5,6,4,5,25)

# len function in tuple:

In [85]:
len(ti)

15

# max funiction in tuple;

In [86]:
y=max(ti)
y

25

# min function in tuple;

In [87]:
y1= min(ti)
y1

0

# index function in tuple;

In [91]:
y2 = ti.index(5)
print(y2)
print(type(y2))

3
<class 'int'>

# count function in tuple:

In [94]:
y3 = ti.count(2)
print(y3)
print(type(y3))

1
<class 'int'>

# tuple:- its is used to create different types of values into tuple:
# convert list into tuple;

In [95]:
o = [1,2,6,7,8,9,4,5,6,4,5,1,2,3,6,4,5,7]
y4 = tuple(o)
print(y4)

(1, 2, 6, 7, 8, 9, 4, 5, 6, 4, 5, 1, 2, 3, 6, 4, 5, 7)

# convert into tuple in list:

In [96]:
y5 = list(y4)
print(y5)

[1, 2, 6, 7, 8, 9, 4, 5, 6, 4, 5, 1, 2, 3, 6, 4, 5, 7]

In [1]:
j = (2,6,4,5,7,8,9)

In [3]:
hh = list(j)
print(hh)

[2, 6, 4, 5, 7, 8, 9]

# add two tuple in one another tuple;

In [98]:
h1=(1,2,5,4,5,6,4,5,6,7)
h2=(5,6,4,6,4,4,5,4)

In [108]:
i4 = h1 + h2

In [110]:
i4 =(1, 2, 5, 4, 5, 6, 4, 5, 6, 7, 5, 6, 4, 6, 4, 4, 5, 4)

In [119]:
i5 = list(i4)
print(i5)

[1, 2, 5, 4, 5, 6, 4, 5, 6, 7, 5, 6, 4, 6, 4, 4, 5, 4]

In [120]:
print(sys.getsizeof(i5))

200

In [118]:
print(sys.getsizeof(i4))

184

In [113]:
i1= {}
for i in i4:
    if i not in i1:
        i1[i] = 1
    else:
        i1[i] += 1
i1

{1: 1, 2: 1, 5: 5, 4: 6, 6: 4, 7: 1}

In [116]:
print(len(i4))
print(type(i4))

18
<class 'tuple'>

In [1]:
t5 = tuple("ANURAG")
print(t5)

('A', 'N', 'U', 'R', 'A', 'G')

In [2]:
len(t5)

6

This is my final code to write here.

In [1]:
it = list('Anurag')
print(it)

['A', 'n', 'u', 'r', 'a', 'g']

# unpacking of tuple:-

In [5]:
a, b, c, d, = 2, 3, 4, 8
print(a,b,d,c)

2 3 8 4

# Tuple Operations:-

In [13]:
# Count;
t22 = (1,5,2,4,51,6,9,8,7,4)
t22.count(89)

0

# indexing in tuple;

In [14]:
t22.index(51)

4

# Iteration in tuple;

In [18]:
for i in t22:
    print(i ** 3, end = ", ")

1, 125, 8, 64, 132651, 216, 729, 512, 343, 64,

# Concatenation(+, *):-