In [229]:
import sys

In [230]:
# 1 .What is slicing?
# Slicing is giving the chunks of  items and jumps also;
A = "Anurag"
A[1:4:2]

'nr'

In [231]:
# 2. How can we distinguish between tuples and lists?
# list are mutable and tuple is imutable;

In [232]:
# 3. What will be the output of the given code?
List = ['p','r','i','n','t']
print(list[8:])

list[slice(8, None, None)]

In [233]:
# 4. Give the syntax required to convert an integer number into string?
# use str();
a = 26
b = str(a)
print(b)
print(type(b))

26
<class 'str'>

In [234]:
# 5. List is mutable. Justify?
# list ie iterable and cahnge the data in existing list so we can say list it mutable.

In [235]:
# 6. Difference between del and remove methods in List?
fruits = ['apple','banana','pineapple']
fruits.remove('pineapple')
del fruits

In [236]:
# 7. Difference between pop and remove in list?
fruit = ['mango','pine-apple','grapes','orange','mango']
#fruit.pop(2)
#fruit.remove('mango')
#fruit
#fruit.remove(fruit[1])
#fruit

In [237]:
# 8. How are the values in a tuple accessed?
y = 5,8,7,5,4,1,2
print(y[0])
print(type(y))

5
<class 'tuple'>

In [238]:
# 9. What is a Dictionary in Python
# Dictionary is data-structure in python which is store key-value pair;

In [239]:
# 10. Define list comprehension
list1 = [i for i in range(12) if i % 2 == 1]
print(list1)

[1, 3, 5, 7, 9, 11]

In [240]:
# 11. Write a python program using list looping
list2 = [5,6,7,8,9,4,5]
list3 = []

def prime(list2):
    for i in list2:
        count = 0
        for j in range(1, i + 1):
            if (i % j) == 0:
                count += 1
                
        if(count == 2):
            list3.append(i)

In [241]:
prime(list2)

In [242]:
print(list3)

[5, 7, 5]

In [243]:
print(list2)

[5, 6, 7, 8, 9, 4, 5]

In [244]:
# 12. What do you meant by mutability and immutability?
# mutability is means we can chane the data but immutability we cannot change the data;

In [245]:
# 13. Define Histogram ********

In [246]:
# 14. Define Tuple and show it is immutable with an example.
oo = (4,5,6,55,7,9,56,4)

In [247]:
# compare  the size of list and tuple; tuple consume les memory rather tha lsit;

In [248]:
print(sys.getsizeof(oo))

104

In [249]:
oo = [4,5,6,55,7,9,56,4]

In [250]:
print(sys.getsizeof(oo))

120

In [251]:
# 15. state the difference between aliasing and cloning in list
j1 = [1,5,6,4,8,7,9]
j2 = j1.copy()
print(j2)

[1, 5, 6, 4, 8, 7, 9]

In [252]:
# 16. what is list cloning
# List cloning is such as copy a list into the another list.

In [253]:
# 17. what is deep cloning
l = [0,9,8,9,6]
l2 = l.copy()
l[0] = 99
print(l)
l2 = l.copy()

[99, 9, 8, 9, 6]

In [254]:
# 18. state the difference between pop and remove method in list
# when we use pop method in there the elments is deleted in last postion.
# when we use remove method in there the passing the arugemts to delete the elements;

In [255]:
# 19. create tuple with single element
k = (5,)
print(type(k))

<class 'tuple'>

In [256]:
# 20. swap two numbers without using third variable
jo = [9,7,70,5,3,6,7,]
jo[2],jo[3] = jo[3],jo[2]
print(jo)

[9, 7, 5, 70, 3, 6, 7]

In [257]:
# 21. define properties of key in dictionary
k = {
    'name' : "Anurag",
    'age' : 22,
    'location' : "New-Delhi",
    'Pin-code' : 110043
}
print(k.keys())
print(k.values())
print(k.items())

dict_keys(['name', 'age', 'location', 'Pin-code'])
dict_values(['Anurag', 22, 'New-Delhi', 110043])
dict_items([('name', 'Anurag'), ('age', 22), ('location', 'New-Delhi'), ('Pin-code', 110043)])

In [258]:
# 22. how can you access elements from the dictionary
# In deic we use .values() to know the elements;

In [259]:
# 23. difference between delete and clear method in dictionary
# del k['name'] is use to del the key;
# clear method use for del whole keys and make empty dictionary;

In [260]:
name = ['anurag','age','live']
values = ["Anurag",22,"patna"]

In [261]:
dic = dict(zip(name,values))
print(dic)

{'anurag': 'Anurag', 'age': 22, 'live': 'patna'}

In [262]:
# 24. What is squeezing in list? give an example.

In [263]:
# 25. How to convert a tuple in to list
kj = (5,9,9,0,8,9)
jk = list(kj)
print(jk)

[5, 9, 9, 0, 8, 9]

In [264]:
# 26. How to convert a list in to tuple
ml = [2,3,4,5,6,78,9]
lm = tuple(ml)
print(lm)

(2, 3, 4, 5, 6, 78, 9)

In [265]:
# 27. Create a list using list comprehension

In [266]:
# 28. Advantage of list comprehension

In [1]:
x = [i for i in range(1, 6 + 1)]
print(x)

[1, 2, 3, 4, 5, 6]

In [2]:
print(x)

[1, 2, 3, 4, 5, 6]

In [267]:
# 41. Revers the give list
lm = ['Anurag','ramesh',1,2,3,4,5,True,False]
lm.reverse()
print(lm)

[False, True, 5, 4, 3, 2, 1, 'ramesh', 'Anurag']

In [268]:
# 42. Sort for ascending and descending order
Y = [ 2,5,6,7,78,67,22,11,10]
#Y.sort()
Y.sort(reverse=True)
print(Y)

[78, 67, 22, 11, 10, 7, 6, 5, 2]

In [269]:
# 43. Flatten the given nested list
z = [1,2,3,4,[5,6,7,[4,11,7]]]

In [270]:
z1 = []
for i in z:
    if type(i) == list:
        for j in i:
            if type(j) == list:
                for k in j:
                    if type(k) == list:
                        for l in k:
                            z1.append(l)
                    else:
                        z1.append(k)
            else:
                z1.append(j)
    else:
        z1.append(i)

In [271]:
print(z1)

[1, 2, 3, 4, 5, 6, 7, 4, 11, 7]

In [272]:
# 44. Using list comprehension pick the odd numbers
J = [ 1,2,3,4,5,6,7,8,9]

In [273]:
k = [i for i in J if i % 2 == 1]
k1 = [i for i in J if i % 2 == 0]

In [274]:
print(k, end = " ")
print(k1)

[1, 3, 5, 7, 9] [2, 4, 6, 8]

In [275]:
# 45. Unpack the given nested list to find : will be asked randomly
m =[1,4,5,8,[2,6,7,10,9,[3,11,78,88,77,[ 66,55,44]]]]

In [276]:
m1 = []
for i in m:
    if type(i) == list:
        for j in i:
            if type(j) == list:
                for k in j:
                    if type(k) == list:
                        for a in k:
                            m1.append(a)
                    else:
                        m1.append(k)
            else:
                m1.append(j)
    else:
        m1.append(i)

In [277]:
print(m1)

[1, 4, 5, 8, 2, 6, 7, 10, 9, 3, 11, 78, 88, 77, 66, 55, 44]

In [278]:
# 46. Convert a List to Set and Set to List.
mn = [1,2,5,4,6,7,8,9]
nm = set(mn)
print(type(nm))

<class 'set'>

In [279]:
# 47. Remove duplicates using list comprehension.
# hj = [4,5,4,7,8,5,1,2,8]
# jh = [i for i in hj if i not in jh ]

#for i in hj:
    # if i not in jh:
        #jh.append(i)

In [280]:
# print(jh)

In [281]:
# 48. Sort data using list comprehension.
jn = [1,5,7,1,2,9,4,3,0]

#for i in range(len(jn)):
    #for j in range(i + 1, len(jn)):
        #if jn[i] > jn[j]:
            #jn[i],jn[j] = jn[j],jn[i]

In [282]:
# 49. Count the number of occurrences in the list using dictionary comprehension.
ko = [1,1,2,4,5,4,2,1,5,6,7,7,8,55]

In [283]:
ok = {}
for i in ko:
    if i not in ok:
        ok[i] = 1
    else:
        ok[i] += 1

In [284]:
print(ok)

{1: 3, 2: 2, 4: 2, 5: 2, 6: 1, 7: 2, 8: 1, 55: 1}

In [285]:
# 50. Count the number of occurrences in a list.

In [286]:
km = ['apple','apple','banaa']
km.count('apple')

2

In [287]:
# 51. Swap first and last elements in the list.
kn = ['apple','grapes','mango','pine-apple','cheery',25]
kn[0],kn[5] = kn[5],kn[0]

In [288]:
print(kn)

[25, 'grapes', 'mango', 'pine-apple', 'cheery', 'apple']

In [289]:
# 52. Count the unique values inside a list - how many elements without duplicates,
x = [1,2,2,3,5,8,8,4,4]

In [290]:
# 53. Remove duplicates without using for loops
x = [1,2,2,3,5,8,8,4,4]
x2 = set(x)

In [291]:
# 54. SORT A LIST WITHOUT USING SORT FUNCTION\n",
x = [3,2,35,4,82,6,8]

for i in range(len(x)):
    for j in range(i + 1, len(x)):
        if x[i] > x[j]:
            x[i],x[j] = x[j],x[i]
            
print(x)

[2, 3, 4, 6, 8, 35, 82]

In [292]:
# 55. GIVE ME CUBE OF EVERY NUMBER IN A LIST USING LIST COMPREHENSION.\n",
x = [3,2,35,4,82,6,8]
x5 = []
for i in x:
    if i not in x5:
        x5.append(i ** 3)

In [293]:
print(x5)

[27, 8, 42875, 64, 551368, 216]

In [294]:
A = 'Abc'
B = 'bAcd'

In [295]:
def check_anagrams(A, B):
    if sorted(A) == sorted(B):
        return True
    else:
        return False

In [296]:
check_anagrams(A, B)

False